<!-- A partial to be overwritten by the user.
     Its content will appear before the closing </head>-tag -->


<!-- Custom CSS via inline styles
     You may use this template to add custom CSS to your site like so: -->
<style>
body {
  font-size: 1.6rem;
}
:root {
  --ul-li-icon: fa-skull-crossbones
}

a {
  color: #478600;
}
a:hover {
  color: #37501a;
}

.dark a {
  color: #94c4ff;
}
.dark a:hover {
  color: #2b2fec;
}

.darklinks a {
    color: #b80135;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    background: #f2efe8;
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 2rem;
    display: inline-block;
    text-decoration: none;
    position: relative;
    overflow: visible;
}
.darklinks a:hover {
    color: #ff737e;
}

h3 {
    color: #b80135;
    margin: 10px 0;
    font-size: 3rem;
    letter-spacing: -1px;
    text-shadow: var(--cover-title-text-shadow);
}
</style>


<!-- Custom CSS via "custom.css"-file
     If you would rather place your custom CSS into
     a separate file, create a "custom.css" in your
     local "static/css"-directory. Then add a <link>-tag
     referencing your "custom.css" like so: -->

<!-- <link rel="stylesheet" href='{{ "css/custom.css" | absURL }}'> -->

<!-- Custom CSS: Color Codes
     You may checkout https://htmlcolorcodes.com/ to get those
     weird color codes (like "#22343A") ;-). -->

<!-- Custom link-tags for different icons
     Generated via https://favicon.io/favicon-generator/ -->

{{ with resources.Get "images/apple-touch-icon.png" }}<link rel="apple-touch-icon" sizes="180x180" href="{{ .RelPermalink }}" />{{ end }}
{{ with resources.Get "images/favicon.svg" }}<link rel="icon" type="image/svg+xml" href="{{ .RelPermalink }}" />{{ end }}
{{ range seq 9 4 }}{{ $size := pow 2 . }}{{ $file := replace "images/favicon-##x##.png" "##" $size }}{{ with resources.Get $file }}
<link rel="icon" type="{{ .MediaType.Type }}" sizes="{{- $size -}}x{{- $size -}}" href="{{ .RelPermalink }}" />{{ end }}{{ end }}

