{{ define "main" }}
<main
  class="content page-template page-"
  style="
    {{ with resources.Get .Params.bgImage }}
    background-image: url('{{ .RelPermalink }}');
    {{ end }}
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
  "
>
  <style>
    a:visited {
      color: #12355b;
    }
    article {
      background: #f2efe8;
      padding-left: 4em;
      padding-right: 4em;
    }
  </style>
  <article class="post page">{{ .Content }}</article>
</main>
{{ end }}
